<div
  [class.portal_isOpen]="isOpen() === true"
  >
  <div
  class='modal'
  [class.modal_isOpen]="isOpen() === true"
  >
    <h2>Создаем книгу</h2>
      <form
      class='form'
      (submit)="$event.preventDefault(); onSubmit()">

      <h3>Название</h3>
      <input
      type='text'
      class='text'
      [value]="state()?.title || ''"
      (input)="changeState({ title: $any($event.target).value })"
      placeholder='Введите название...'/>
      <h4>Автор</h4>
      <input
      type='text'
      [value]="state()?.author || ''"
      (input)="changeState({ author: $any($event.target).value })"
      class='text'
      placeholder='Введите автора...'
      ngModelChange />
      <select
      [value]="state()?.status || 'wishlist'"
      (change)="changeState({ status: $any($event.target).value })"
      >
        <option value="wishlist">В вишлисте</option>
        <option value="reading">Читаю</option>
        <option value="finished">Прочел</option>
      </select>

      <div>
      <button type="submit">Создать книгу</button>
      <button type="button" (click)="onClose()">Отмена</button>
       </div>
      </form>
  </div>

  <div class='overlay'
  (click)="onClose()"
  ></div>
</div>

