<nav class="nav">
  <input
    type="search"
    placeholder="Search books"
    #searchInput
    [value]="searchQuery()"
    (input)="searchChanged.emit(searchInput.value)"
  />
  <button
    (click)="statusSelected.emit('wishlist')"
    class="nav-button"
    [class.nav-button_selected]="selectedStatus() === 'wishlist'"
  >
    Вишлист
  </button>
  <button
    (click)="statusSelected.emit('reading')"
    class="nav-button"
    [class.nav-button_selected]="selectedStatus() === 'reading'"
  >
    Читаю
  </button>
  <button
    (click)="statusSelected.emit('finished')"
    class="nav-button"
    [class.nav-button_selected]="selectedStatus() === 'finished'"
  >
    Прочитал
  </button>
</nav>
