<div [class.portal_isOpen]="isOpen() === true">
    <div
        class="modal"
        [class.modal_isOpen]="isOpen() === true"
    >
        <h2>Создаем книгу</h2>
        <form
            class="form"
            [formGroup]="bookForm"
            (ngSubmit)="onSubmit()"
        >
            <h4>Название</h4>
            <input
                formControlName="title"
                class="text"
                [disabled]="isSubmitting()"
                placeholder="Введите название..."
            />
            @if (title?.invalid && (title?.dirty || title?.touched)) {
                <div class="error">
                    @if (title?.errors?.['required']) {
                        <span>Название обязательно.</span>
                    }
                    @if (title?.errors?.['minlength']) {
                        <span>Минимум 3 символа.</span>
                    }
                </div>
            }

            <h4>Автор</h4>
            <input
                formControlName="author"
                class="text"
                [disabled]="isSubmitting()"
                placeholder="Введите автора..."
            />
            @if (author?.invalid && (author?.dirty || author?.touched)) {
                <div class="error">
                    @if (author?.errors?.['required']) {
                        <span>Автор обязателен.</span>
                    }
                    @if (author?.errors?.['minlength']) {
                        <span>Минимум 3 символа.</span>
                    }
                </div>
            }

            <select
                formControlName="status"
                [disabled]="isSubmitting()"
            >
                <option value="wishlist">В вишлисте</option>
                <option value="reading">Читаю</option>
                <option value="finished">Прочел</option>
            </select>

            <div>
                <button
                    type="submit"
                    [disabled]="isSubmitting()"
                >
                    @if (isSubmitting()) {
                        Создаем...
                    } @else {
                        Создать книгу
                    }
                </button>
                <button
                    type="button"
                    [disabled]="isSubmitting()"
                    (click)="onClose()"
                >
                    Отмена
                </button>
            </div>
        </form>
    </div>

    <div
        class="overlay"
        (click)="onClose()"
    ></div>
</div>
