.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.nav-button {
  border: 1px solid rgb(173, 160, 85);
  width: auto;
  padding: 8px;
  cursor: pointer;
}

.nav-button_selected {
  border-color: #222;
  background: #222;
  color: white;
}
