<div
    class="book"
    (click)="clicked.emit()"
>
  <h3 class="title">{{ book().title }}</h3>
  <p class="author">{{ book().author }}</p>
  <button
    class="status"
    [disabled]="isUpdating() || isDeleting()"
    (click)="$event.stopPropagation(); statusClicked.emit(book())"
  >
    @if (isUpdating()) {
      Обновляем...
    } @else {
      {{ book().status }}
    }
  </button>
  <button
    class="delete"
    [disabled]="isUpdating() || isDeleting()"
    (click)="$event.stopPropagation(); deleteClicked.emit(book())"
  >
    @if (isDeleting()) {
      Удаляем...
    } @else {
      Удалить
    }
  </button>
</div>
