<main class="main">
  <app-book-filters
    [selectedStatus]="selectedStatus()"
    [searchQuery]="searchQuery()"
    (statusSelected)="setStatus($event)"
    (searchChanged)="searchQuery.set($event)"
  />
  <div class="row">
    @let books = filteredBooks();

    @if (books.length) {
      @for (book of books; track book.id) {
        <app-book-card
          [book]="book"
          (statusClicked)="changeBookStatus($event)"
        />
      }
    } @else {
      <h4>Книги не найдены</h4>
    }
  </div>
</main>
